.logo_place_header {
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 64px;
  height: 32px;
  background-image: url("../../../images/logo_place_header.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
