.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  opacity: 0.6;
  transition: opacity 0.2s;
}
