.section-title {
  display: inline-block;
  width: 60%;
  text-align: center;
  margin: 0 0;
  padding-bottom: 20px;
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
