@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__title/header__title.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__square-pic/header__square-pic.css');
@import url('../blocks/header/__main-illustrator/header__main-illustrator.css');
