.feinman {
  box-sizing: border-box;
  background: #f2f2f2;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-image: url("../../images/feynman.png");
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
}
