* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-gray {
  background: #f2f2f2;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 64px;
  overflow: hidden;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  z-index: 999;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1000;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url("../images/header-image.png");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* .logo {

} */

.logo_place_header {
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 64px;
}

.description {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content:  space-between;
}

.two-columns__brief {
  width: 175px;
  display: block;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-of-type(2n) {
  padding: 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  display: inline-block;
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: inline-block;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.table__text p {
  margin-top: 20px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-image: url("../images/feynman.png");
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
}

.feinman__title {
  display: inline-block;
  width: 648px;
  text-align: center;
  margin-bottom: 70px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:  #2f80ed ;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  position: relative;
  z-index: 1000;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  /* margin-right: 0; */
  /* margin-top: 80px; */
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark p {
  color: white;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}






