









.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}











.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 20px 0 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
