* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-gray {
  background: #f2f2f2;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 64px;
  overflow: hidden;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  position: relative;
  z-index: 999;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1000;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* .logo {

} */

.logo_place_header {
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 64px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


