.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  height: 100%;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity 0.2s;
}
